#ignore CMake cache
CMakeCache.txt
cmake_install.cmake
HERoEHS_SegmentationAnnotationTool_autogen/
CMakeFiles/
Makefile

#ignore files created after compiling
qrc_HERoEHS_SegmentationAnnotationTool.cpp
ui_HERoEHS_SegmentationAnnotationTool.h
HERoEHS_SegmentationAnnotationTool

#ignore Demo jpg, mask, dat file
*.jpg
*.mask
*.dat

#not ignore
!config/class_file_path.txt
!config/img_dir_path.txt
!CMakeLists.txt
